<!-- <app-test></app-test>
<app-test> </app-test>
 <app-test2></app-test2>
<app-login></app-login>-->

<!-- <app-showemployees> </app-showemployees> -->

<!-- <app-registration> </app-registration> -->

<!-- <app-login> </app-login> -->

<!-- <app-products> </app-products> -->

<app-header> </app-header>

<router-outlet> </router-outlet>


