<div class="container">
    <div class="row">
   
    <div class="card" style="width:200px; height: 400px;">
        <br/>
      <img class="card-img-top" src="\assets\images\10001.jpg" alt="Card image" style="width:70%; height:100%;">
      <div class="card-body">
        <h3 class="card-title">Nokia</h3>
        <p class="card-text">No Cost EMI Applicable.</p>
        <p class="card-text">Price: ₹14999/-</p>
        <p align="right">
        <a href="#" class="btn btn-primary">Add to Cart</a>
        </p>
    </div>
    </div> &nbsp;&nbsp;

    <div class="card" style="width:200px; height: 400px;">
        <br/>
      <img class="card-img-top" src="\assets\images\10002.jpg" alt="Card image" style="width:70%; height:100%;">
      <div class="card-body">
        <h3 class="card-title">Samsung</h3>
        <p class="card-text">No Cost EMI Applicable.</p>
        <p class="card-text">Price: ₹34999/-</p>
        <p align="right">
        <a href="#" class="btn btn-primary">Add to Cart</a>
        </p>
    </div>
    </div> &nbsp;&nbsp;

    <div class="card" style="width:200px; height: 400px;">
        <br/>
      <img class="card-img-top" src="\assets\images\10003.jpg" alt="Card image" style="width:70%; height:100%;">
      <div class="card-body">
        <h3 class="card-title">Nokia</h3>
        <p class="card-text">No Cost EMI Applicable.</p>
        <p class="card-text">Price: ₹8999/-</p>
        <p align="right">
        <a href="#" class="btn btn-primary">Add to Cart</a>
        </p>
    </div>
    </div>
</div> 