<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>


<h1 align="center">Show Employees</h1>
<br/>

<div class="container" *ngIf="employees">
    <table class="table table-sm text-center table-hover table-bordered table-striped">
        <thead class="bg-info">
            <tr>
                <th> EmpId </th>
                <th> EmpName </th>
                <th> Salary </th>
                <th> Gender </th>
                <th> Country </th>
                <th> DOJ </th>
                <th> Experience </th>
                <th> EmailId </th>
                <th colspan="2"> Actions </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let emp of employees">
                <td> {{emp.empId }} </td>
                <td> {{emp.empName | gender:emp.gender | uppercase }} </td>
                <td> {{emp.salary | currency: 'USD'}} </td>
                <td> {{emp.gender | lowercase }} </td>
                <td> {{emp.country }} </td>
                <td> {{emp.doj | date:'dd-MMM-yyyy' }} </td>
                <td> {{emp.doj | exp }} </td>
                <td> {{emp.emailId }} </td>
                <td> 
                    <button type="button" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                </td>
                <td> 
                    <button type="button" class="btn btn-default btn-sm" (click)="deleteEmp(emp.empId)">
                        <span class="glyphicon glyphicon-trash"></span>
                      </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

