<h1 align="center"> Employee Registration </h1>

<form #regFrom="ngForm" (ngSubmit)="employeeRegistration(regFrom.value)">

<table align="center">
    <tr>
        <td align="right">EmployeeID</td>
        <td align="left"><input type="number" name="empId" ngModel /> </td>
    </tr>

    <tr>
        <td align="right">Employee Name</td>
        <td align="left"><input type="text" name="empName" ngModel /> </td>
    </tr>

    <tr>
        <td align="right">Salary</td>
        <td align="left"><input type="text" name="salary" ngModel /> </td>
    </tr>

    <tr>
        <td align="right">Gender</td>
        <td align="left">
            <select name="gender" ngModel>
                <option value=""> Select Gender </option>
                <option value="Male"> Male </option>
                <option value="Female"> Female </option>
                <option value="Other"> Other </option>
            </select>
        </td>
    </tr>

    <tr>
        <td align="right">Country</td>
        <td align="left">
            <select name="country" ngModel>
                <option value=""> Select Country </option>

                <option value="{{country.cca3}}" *ngFor="let country of countries"> {{country.name.common}} </option>

            </select>
        </td>
    </tr>

    <tr>
        <td align="right">Date of Join</td>
        <td align="left"><input type="date" name="doj" ngModel /> </td>
    </tr>

    <tr>
        <td align="right">Email-ID</td>
        <td align="left"><input type="text" name="emailId" ngModel /> </td>
    </tr>

    <tr>
        <td align="right">Password</td>
        <td align="left"><input type="password" name="password" ngModel /> </td>
    </tr>

    <tr>
        <td align="right">Department</td>
        <td align="left">
            <select name="department" ngModel>
                <option value=""> Select Department </option>

                <option value="{{department.deptId}}" *ngFor="let department of departments"> {{department.deptName}} </option>

            </select>
        </td>
    </tr>

    <tr>
        <td align="right"></td>
        <td align="left"> <button class="btn btn-primary"> Register </button> </td>
    </tr>

</table>
</form>
